@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: Arial, sans-serif;
}

#typingInput {
    background-color: #1a202c;
    color: white;
    border: none;
    padding: 1rem;
    resize: none;
    width: 100%;
    max-width: 500px;
    white-space: pre-wrap;
}

#typingInput::placeholder {
    color: #ffffff;
}

.cell {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: box-shadow 0.3s, transform 0.3s;
}

.cell.on {
    box-shadow: 0 0 10px 5px rgba(255, 0, 0, 0.8);
}

.cell.off {
    box-shadow: none;
}

.cell:hover {
    box-shadow: 0 0 15px 3px rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
}

#gameboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    margin-bottom: 20px;
    max-width: 80vw;
}

.hidden {
    display: none;
}

.faded {
    opacity: 0.2;
    transition: opacity 0.5s;
}

.refresh-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.refresh-button img {
    width: 30px;
    height: 30px;
}

.button-outline {
    border: 2px solid white;
    transition: background-color 0.3s, border-color 0.3s;
}

.button-outline:hover {
    background-color: white;
    color: black;
}